<% layout(".././layouts/main") %>
<div class="row">
  <div class="col-9">
    <h1>Postni taxrirlash</h1>
    <form
      class="needs-validation"
      action="/post/<%= post._id %>?_method=PUT"
      novalidate
      method="post"
      enctype="multipart/form-data"
    >
      <div class="form-group my-3">
        <label for="title">Sarlavha</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="post[title]"
          value="<%= post.title %>"
          required
        />
      </div>
      <div class="form-group my-3">
        <label for="image">Rasmlar</label>
        <input
          type="file"
          multiple
          class="form-control"
          id="image"
          name="image"
        />
      <div class="form-group my-3 ">
        <label for="body">Matn</label>
        <textarea
          class="form-control"
          id="body"
          name="post[body]"
          style="height: 9rem"
          required
        >
<%= post.body %></textarea
        >
      </div>

      <div class=" editPhoto">
        <% photos.forEach((photo, i) => { %>
      
        <div class="form-check-inline mt-1 mb-4 ml-3">

          <label for="photo-<%= i %>">
          <img class="img-thumbnail w-40 h-40" src="data:image/png;base64,<%= photo.data %>" alt="<%= photo.description %>">
            <h5>O'chirilsinmi?</h5>
          </label>
          <input type="checkbox" id="photo-<%= i %>" name="deletePhotos[]" value="<%= photo._id %>">

        </div>
        <% }) %>
      </div>
      <button type="submit" class="btn btn-primary my-3">
        Postni O'zgartirish
      </button>
    </form>
  </div>
</div>
