<% layout(".././layouts/main") %>
<div class="row">
  <div class="card col-6 mb-3">
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <% if(photos.length > 1){%>
      <div class="carousel-indicators">
        <% photos.forEach((photo, i) => { %>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="<%= i %>"
          class="active"
          aria-current="true"
          aria-label="Slide <%= i + 1 %>"
        ></button>
        <% }) %>
      </div>
      <% } %>
      <div class="carousel-inner carouselInner">
        <% photos.forEach((photo, i ) => {%> <% const classActive = i === 0 ?
        "active" : "" %>
        <div class="carousel-item <%= classActive %>">
          <img
            src="data:image/png;base64,<%= photo.dataValues.data %>"
            class="d-block w-100"
            alt="<%= photo.dataValues.description %>"
          />
        </div>
        <% }) %>
      </div>
      <% if(photos.length > 1){ %>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <% } %>
    </div>
    <div class="card-body">
      <h2 class="card-title"><%= post.title %></h2>
      <p class="card-text"><%= post.body %></p>
      <p class="card-text">
        <small class="text-muted"><%= createAt %></small>
      </p>
      <div class="row">
        <div class="col-6">
          <a class="btn btn-secondary" href="/post/<%= post._id %>/edit">
            Postni taxrirlash
          </a>
        </div>
        <div class="col-6">
          <form action="/post/<%= post._id %>?_method=DELETE" method="post">
            <button class="btn btn-danger">Postni o'chirish</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <form
      class="needs-validation"
      action="/post/<%= post._id%>/comment"
      novalidate
      method="post"
    >
      <div class="form-group">
        <label for="comment">Izoh</label>
        <textarea
          required
          class="form-control"
          id="comment"
          name="comment[content]"
          rows="3"
        ></textarea>
      </div>
      <button class="btn my-3 btn-primary">Yuborish</button>
    </form>
    <div>
      <% if (comments.length > 0) { %> <% comments.forEach(function(comment) {
      %>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title"><%= comment.content %></h5>
          <p class="card-text"><%= comment.createdAt.toDateString() %></p>
          <form
            action="/post/<%= post._id%>/comment/<%=comment._id%>?_method=DELETE"
            method="post"
          >
            <button class="btn btn-danger">O'chirish</button>
          </form>
        </div>
      </div>
      <% }); %> <% } else { %>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">Izohlar yo'q</h5>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
