<% layout(".././layouts/main") %>
<div class="row">
  <div class="col-6">
    <h1><%= post.title %></h1>
    <p><%= post.body %></p>
    <span><%= post.updatedAt.toDateString() %></span>
    <div class="row">
      <div class="col-6">
        <a class="btn btn-warning" href="/post/<%= post._id %>/edit"
          >Postni taxrirlash</a
        >
      </div>
      <div class="col-6">
        <form action="/post/<%= post._id %>?_method=DELETE" method="post">
          <button class="btn btn-danger">Postni o'chirish</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-6">
    <form action="/post/<%= post._id%>/comment" method="post">
      <div class="form-group">
        <label for="comment">Izoh</label>
        <textarea
          class="form-control"
          id="comment"
          name="comment[content]"
          rows="3"
        ></textarea>
      </div>
      <button class="btn my-3 btn-primary">Yuborish</button>
    </form>
  </div>
</div>
