<% layout(".././layouts/main") %>
<div class="row">
  <div class="col-6">
    <h1><%= post.title %></h1>
    <p><%= post.body %></p>
    <span><%= post.updatedAt.toDateString() %></span>
    <div class="row">
      <div class="col-6">
        <button class="btn btn-secondary" href="/post/<%= post._id %>/edit">
          Postni taxrirlash
        </button>
      </div>
      <div class="col-6">
        <form action="/post/<%= post._id %>?_method=DELETE" method="post">
          <button class="btn btn-danger">Postni o'chirish</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-6">
    <form
      class="needs-validation"
      action="/post/<%= post._id%>/comment"
      novalidate
      method="post"
    >
      <div class="form-group">
        <label for="comment">Izoh</label>
        <textarea
          required
          class="form-control"
          id="comment"
          name="comment[content]"
          rows="3"
        ></textarea>
      </div>
      <button class="btn my-3 btn-primary">Yuborish</button>
    </form>
    <div>
      <% if (comments.length > 0) { %> <% comments.forEach(function(comment) {
      %>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title"><%= comment.content %></h5>
          <p class="card-text"><%= comment.createdAt.toDateString() %></p>
          <form
            action="/post/<%= post._id%>/comment/<%=comment._id%>?_method=DELETE"
            method="post"
          >
            <button class="btn btn-danger">O'chirish</button>
          </form>
        </div>
      </div>
      <% }); %> <% } else { %>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">Izohlar yo'q</h5>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
